/*BACKGROUND IMAGE*/

.ocean-background {
    height: 100vh;
    background: url("/img/ocean.jpg") no-repeat center center;
    background-size: cover;
}

/*NAVIGATION BAR*/

.navbar{
    display: grid;
    grid-template-columns: 1.6fr 8fr;
    align-items:center;
    padding: 10px 20px;
}

.logo img{
    height: 60px;
    width: 60px;
    margin-top: 30px;
    place-items: center;
}

.logo{
    justify-self: end; 
}

.nav-links{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(7, auto);
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    margin-right: 30px;
    padding: 0;
    font-size: 32px;
}

.nav-links li:last-child{
    margin-left: -20px;
}


.nav-links a{
    text-decoration: none;
    color: #000;
}

.nav-links a:hover{
    color: var(--aprueba-turquoise)

}


/*HOME BUTTONS*/

.container-home-buttons {
    display: grid;
    grid-template-columns: 60px 120px;
    gap: 50px;
    justify-content: center;
    margin-top: 20%;
}

.home-btn{
    background-color: var(--aprueba-turquoise);
    color: white;
    border:none;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 25px;
}

.home-btn:hover{
    background-color: var(--aprueba-ochre);
}

/*RESPONSIVENESS*/

@media (max-width: 1200px) {
    
    .nav-links {
        display:block;
    }

    .navbar {
        grid-template-columns: 1fr;
        padding-left: 15px;
        display: grid;
    }

    .nav-links li:nth-child(6){
        margin-top: 10px;
    }

    .nav-links li:last-child{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .logo {
        justify-self: start;
    }
    
    .container-home-buttons {
        width: 40%;
        grid-template-columns: 1fr;
        padding-left: 15px;
        margin-left: 5px;
        margin-top: -5px;
        gap: 10px; 
    }

    .nav-links a:hover{
        color: var(--aprueba-ochre)
    
    }

    .home-btn{
        background-color: var(--aprueba-ochre);   
    }
    
    .home-btn:hover{
        background-color: var(--aprueba-turquoise);
    }
}



/*FREE TESTS*/

.free-tests{
    height: 600px;
}

.test-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 60px;
    gap:20px;
    height: 100%;
}

.test-content{    
    display: grid;
    text-align: center;
    align-items: center;
    align-content: center;
}

.test-description{
    margin-block: 10px;
}

.test-description:first-child{
    font-family: 'cerdaville';
    font-size: 70px;
    color: var(--aprueba-orange);
    height: 100px;    
}

.img-free-test{
    border-radius: 15px;
    margin-left: 25%;
}

/*RESPONSIVENESS FREE TEST SECTION*/

@media (max-width: 1200px) {

    .test-container{
        grid-template-columns: 1fr;
        display: block;
        height: auto;
        width: auto;

    }

    .img-free-test{
        margin-top: 25px;
        margin-bottom: 30px;
        margin-left: 0%;
        border-radius: 15px;
        max-width: 80%;
        max-height: 90%;  
    }
}

/*NOTAS: Rrevisar el responsive para móviles también de la primera parte, para ello ajustar tanto el ancho como el alto del media query*/