/*BACKGROUND IMAGE*/

.ocean-background {
    height: 100vh;
    background: url("/img/ocean.jpg") no-repeat center center;
    background-size: cover;
}

/*NAVIGATION BAR*/

.navbar{
    display: grid;
    grid-template-columns: 1.6fr 8fr;
    align-items:center;
    padding: 10px 20px;
}

.logo img{
    height: 35px;
    width: 35px;
    margin-top: 30px;
    place-items: center;
}

.logo{
    justify-self: end; 
}

.nav-links{
    list-style: none;
    display:grid;
    grid-template-columns: repeat(7, auto);
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    margin-right: 30px;
    padding: 0;
}

.nav-links li:last-child{
    margin-left: -20px;
}


.nav-links a{
    text-decoration: none;
    color: #000;
}

.nav-links a:hover{
    color: var(--aprueba-turquoise)

}


/*HOME BUTTONS*/

.container-home-buttons {
    display: grid;
    grid-template-columns: 60px 120px;
    gap: 20px;
    justify-content: center;
    margin-top: 20%;
}

.home-btn{
    background-color: var(--aprueba-turquoise);
    color: white;
    border:none;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-btn:hover{
    background-color: var(--aprueba-ochre);
}

/*RESPONSIVENESS*/

@media (max-width: 768px) {
    
    .nav-links {
        display:block;
    }

    .navbar {
        grid-template-columns: 1fr;
        padding-left: 15px;
        display: grid;
    }

    .nav-links li:nth-child(6){
        margin-top: 10px;
    }

    .nav-links li:last-child{
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .logo {
        justify-self: start;
    }
    
    .container-home-buttons {
        width: 40%;
        grid-template-columns: 1fr;
        padding-left: 10px;
        margin-top: -5px;
        gap: 10px;  
    }

    .nav-links a:hover{
        color: var(--aprueba-ochre)
    
    }

    .home-btn{
        background-color: var(--aprueba-ochre);   
    }
    
    .home-btn:hover{
        background-color: var(--aprueba-turquoise);
    }
}



/*OTROS*/
.relleno{
    height: 500px;
    background-color: red;
}